.container {
  height: 100vh;
  width: auto;
  background-image: url(https://source.unsplash.com/FH3nWjvia-U/1600x900);
  background-size: cover;
  margin: 0;
  color: white;
}

.simple-form {
  width: 500px;
}
